@import 'mixins';
@include spacers;
@include flex-gap;

.flex {display: flex;}
.block {display: block;}
.none {display: none;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-around {justify-content: space-around;}
.justify-evenly {justify-content: space-evenly;}
.justify-end {justify-content: flex-end;}
.items-center {align-items: center;}
.items-end {align-items: flex-end;}
.self-baseline {align-self: baseline;}
.self-center {align-self: center;}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-center {
  display: grid;
  place-items: center;
}
.w-full {
  width: 100%;
}
.h-screen {
  height: 100vh;
}
